In [1]:
import pandas as pd

In [2]:
df = pd.read_json('/home/ngelot/workspace/valens-interviews/progtest/src/main/resources/employees.json', lines=True)
df.head()

,age,department,email,firstName,gender,id,lastName,salary
0,68,IT,panderson0@clickbank.net,Philip,Male,1,Anderson,24025
1,62,Marketing,mgardner1@answers.com,Mildred,Female,2,Gardner,23279
2,39,Marketing,pwagner2@adobe.com,Peter,Male,3,Wagner,9957
3,37,Real Estate,lbarnes3@arizona.edu,Larry,Male,4,Barnes,20383
4,49,Real Estate,gcook4@walmart.com,George,Male,5,Cook,24881

In [3]:
#show max salary for every department in the data

In [4]:
#show average salary for every department in the data

In [ ]:
#implement the following python function which takes the dataframe as the first parameter and n (which is an integer) 
#the function should return the record of employee which has n(th) lowest salary
# if argument n=1 is passed, it should return the employee with lowest salary in the entire dataframe
# if n=2 is passed, it should return employee with 2nd lowest salary


# returned value should be the employee's "firstname lastname", e.g. "John Smith"

def get_employee_with_n_th_lowest_salary(df, n):

In [ ]:
#similar to previous method, but this method should calculate nth lowest salary within each department and return a list of tuples as follows

# returned values should be in the form

# [("IT", "John Smith"), ("HR", "Alice Green")]

# if the specified "n" is a big value like 10 for which there aren't even 10 employees in a particular department, the corresponding tuple should have 
# ("HR", None) in the value 

def get_employee_with_nth_lowest_salary_from_each_department(df, n):